.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

h4 {
    color: red;
}

h2 {
    color: orangered;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
}
    
ul#horizontal-list li {
	display: inline;
}